@charset "utf-8";
/* CSS Document */

.mfp-hide {
    display: none !important; }


[class^="icon-"], [class*=" icon-"] {
    font-family: icomoon, serif;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

i {
    font-family: icomoon, serif, FontAwesome;
    font-style: normal;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}
a img {
    border: none;
}

a{
    color: inherit;
}

a:visited {
    color: #4E5869;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

/* ============= start of positioning ============== */


html {
    display: flex;
}

body {
    width: 1400px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media all and (max-width: 1200px) { /* большие настольные */
    body {
        width: 1040px;
        flex: 1 1 auto;
    }
}

@media all and (max-width: 1050px) { /* средние настольные */
    body {
        width: 935px;
        flex: 1 1 auto;
    }
}

@media all and (max-width: 950px) {/* планшеты */
    body {
        width: 750px;
        flex: 1 1 auto;
    }
}

@media all and (max-width: 765px) { /* телефоны */
    body {
        width: 740px;
        flex: 1 0 auto;
    }
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0 auto;
}

form button[type=submit], form .resp, form button[type=button]{
    position: relative;
    z-index: 2;
    outline: none;
    font-family: "Segoe UI", FontAwesome, icomoon, serif;
}

body {
	font: 100%/1.3 'Segoe UI', 'Microsoft Sans Serif' , Arial, Helvetica, Verdana;
	padding: 0;
	color: #030303;
    background-color: lightblue;
}

[data-show]{
    overflow: hidden;
    transition: all 0.2s linear;
}

[data-show='false']{
    height: 0;
}

.content {
    background-color: lightblue;
    color: #444444;
    padding: 10px;
    box-sizing: border-box;
    overflow-wrap: break-word; /* перенесем длинные слова на след. строки */
    word-break: break-all;
}

.field {
	border-radius: 4px;
    font: 0.9em/1.0 Verdana, Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: solid 1px #cccccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input:focus.field, textarea:focus.field  {
    background: #fff;
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.alert{
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 15px;
}

.alert_error{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.alert_warning {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

.alert_info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.user-form .alert_success, .user-form .alert_error, .user-form .alert_warning, .user-form .alert_info{ /* вход */
    margin-bottom: 25px;
}

.alert_success{
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.user-form.login .field {
    margin-bottom: 15px;
}

.user-form .field {
    margin-bottom: 10px;
}

.user-form input{
    font-size: 1em;
}

.user-form .alert span{
    font-weight: bold;
}

.btn{
    background: url("images/button.png") repeat-x scroll 50% 50% #e6e6e6;
    border: 1px solid #d3d3d3;
    color: #056ab1;
    font-family: Verdana,Arial,sans-serif, icomoon;
    border-radius: 0;
    font-size: 1em;
    padding: 7px 30px;
}

button.btn.focus{
    border: 1px dashed #808080;
}

button.btn:hover {
    background: url("images/button-hover.png") repeat-x scroll 50% 50% #dadada;
    /*border: 1px solid #056ab1;*/
    border: 1px dashed #808080;
}

.bt-logout {
    margin-top: 15px;
}

.frm1 .btl{
    display: flex;
    justify-content: center;
}

.login h3 {
    text-align: center;
    color: #495473;
}

.login h2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    color: #656565 !important;
    font-family: Helvetica, Arial, sans-serif;
}

#auth_form button[type="submit"]:after, .resp:after,
#register button[type="submit"]:after{
    overflow: hidden;
    font-family: icomoon, serif;
}

.bt_register, .bt_login {
    display: block;
    margin: 25px auto;
    overflow: hidden;
}

.bt_create{
    display: block;
    margin: 5px auto;
    width: 55%;
}

.bt_register{
    width: 75%;
}

.register .bt_register{
    width: 85%;
}

.resp.bt_register span{
    font-size: inherit; !important;
}

.bt_login {
    width: 70%;
}

.login input::-webkit-input-placeholder,
.register input::-webkit-input-placeholder {
    color: #4c6592;
    font-weight: normal;
    font-style: italic;
}

.login input::-moz-placeholder,
.register input::-moz-placeholder {
    color: #4c6592;
    font-weight: normal;
    font-style: italic;
}

button[type='submit'] span, .resp span {
    padding: 0;
    margin-left: 7px;
    font-size: .8em;
    line-height: 1.85em;
    font-family: "Segoe UI", FontAwesome, icomoon, serif;

}

.register p {
    font: 90%/1.1 'Segoe UI', Arial, sans-serif;
}

.clearfix{
    clear: both;
    width: 100%;
}

/*========== start style form input ==========================*/
.form_1{
    white-space: pre-wrap;
}

.form_1 label.text, .form_1 label.pass, .form_1 label.email{
    display: inline-block;
    margin-bottom: 25px;
    width: 100%;
}

.form_1 label.text>span, .form_1 label.pass>span, .form_1 label.email>span{
    display: inline-flex;
}

.form_1 label.text.lbl span, .form_1 label.pass.lbl span, .form_1 label.email.lbl span{
    width: 75%;
}

.form_1 label.text.nolbl > span, .form_1 label.pass.nolbl > span, .form_1 label.email.nolbl > span{
    width: 100%;
}

.form_1 label.text.lbl > span:first-child, .form_1 label.pass.lbl > span:first-child,
.form_1 label.email.lbl > span:first-child{
    width: 25%;
}

.form_1 label.hint span span, .form_1 label span.hint, div.hint{
    position: absolute;
    visibility: hidden;
}

.form_1 label.focus span.hint, .form_1 label:hover span.hint{
    background-color: rgba( 41, 99, 164, 0.9 );
    margin-left: 15px;
    width: 50%;
    padding: 20px;
    color: #A6E7FD;
    border: solid #A6E7FD;
    visibility: visible;
    transition: visibility 0s linear .1s;
    border-width: 1px 1px 1px 0;
    text-decoration: none;
    overflow: visible;
}

.form_1 label span.hint{
    position: absolute;
    display: inline-block;
    z-index: 10;
    right: -61%;
    padding-right: 0;
    text-decoration: none;
    word-break: keep-all; /* перенесем длинные слова на след. строки */
}

form.reset label span.hint{
    right: -68%;
}

.form_1 label span.hint:before, .form_1 label.focus span.hint:before, .form_1 label:hover span.hint:before{
    content: '';
    border: 10px solid transparent;
    border-right-color:  rgba(41, 99, 164, 0.9);
    position: absolute;
    right: 100%;
    top: 13px;
    box-sizing: border-box;
}

.form_1 label.checkbox i, .form_1 label.radio i, .form_1 label.text i,
.form_1 label.pass i, .form_1 label.email i{
    vertical-align: middle;
    /*font-size: 1.2em;*/
    padding: 12px 15px;
    background-color: rgba(128, 128, 128, 0.47);
    border: solid #a0a0a0;
}

.form_1 label.text.lbl span:nth-child(2)>i:first-child, .form_1 label.pass.lbl span:nth-child(2)>i:first-child,
.form_1 label.email.lbl span:nth-child(2)>i:first-child{
    border-width: 1px 0 1px 1px;
    border-radius: 5px 0 0 5px;
}

.form_1 label.text.nolbl span:nth-child(1)>i:first-child, .form_1 label.pass.nolbl span:nth-child(1)>i:first-child,
.form_1 label.email.nolbl span:nth-child(1)>i:first-child{
    border-width: 1px 0 1px 1px;
    border-radius: 5px 0 0 5px;
}

.mfp-content .form_1 label i{
    color: #545454;
}

.form_1 label.text.focus i, .form_1 label.email.focus i, .form_1 label.pass.focus i{
    color: #1A6ECB;
    text-shadow: 0 0 20px #1A6ECB;
}

.form_1 label.text input[type='text']+i, .form_1  label.pass input[type='password']+i,
.form_1  label.email input[type='email']+i{
    border-width: 1px 1px 1px 0;
    border-radius: 0 5px 5px 0;
}

.form_1 label.lo input[type='text'], .form_1 label.lo input[type='password'],
.form_1 label.lo input[type='email']{
    border-radius: 0 5px 5px 0;
}

.form_1 label.loe input[type='text'], .form_1 label.loe input[type='password'],
.form_1 label.loe input[type='email']{
    border-radius: 0;
}

.form_1 label.text input[type='text'], .form_1 label.pass input[type='password'],
.form_1 label.email input[type='email']{
    /*font-size: 15px;*/
    background-color: rgba(85, 107, 127, 0.1);
    border: solid 1px #a0a0a0;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    padding: 10px;
    width: 100%;
}

.form_1 label.text input[type='text']:focus, .form_1 label.pass input[type='password']:focus,
.form_1 label.email input[type='email']:focus{
    background-color: #fff;
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.form_1 label.checkbox, .form_1 label.radio{
    color: rgb(0, 84, 151);
    margin: auto;
    padding: 5px 10px;
    cursor: pointer;
}

.checkbox, .radio {
    display: block;
}

.form_1 label.checkbox span, .form_1 label.radio span{
    overflow: hidden;
    margin-left: 10px;
    vertical-align: middle;
}

.form_1 input[type="checkbox"] + i, .form_1 input[type="radio"] + i {
    background-color: transparent;
    color: transparent;
    border: 2px solid #1566a6;
    border-radius: 4px;
    font-weight: bold;
    padding: 4px;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    display: inline-block;
}

.form_1 input[type="checkbox"]:checked + i, .form_1 input[type="radio"]:checked + i {
    color: crimson;
    border-color: crimson;
}

.form_1 label.checkbox:hover, .form_1 label.radio:hover{
    color: crimson;
}

.form_1 label.checkbox:hover i, .form_1 label.radio:hover i{
    border-color: crimson;
}

.form_1 label input[type="checkbox"]:checked ~ span:nth-of-type(1), .form_1 label input[type="radio"]:checked ~ span{
    color: crimson;
    text-decoration: underline;
}

/*======= end of style form input ==========================================*/

.user-form.form_1, .txt_case {
    white-space: normal;
}

.user-form.form_1 label.text, .user-form.form_1 label.pass, .user-form.form_1 label.email{
    width: 100%;
}

.user-form.form_1 label.checkbox{
    display: table;
}

.ajax_add.form_1 label.radio {
    margin: 5px 10px;
    padding: 5px;
    display: flex;
}

.ajax_add.form_1 label.radio:hover, .form_1 label.checkbox:hover{
    outline: dashed 1px #858195;
}

.ajax_add button[type=submit], .ajax_add .resp{
    padding: 7px 60px;
}

#register{
    border-radius: 5px;
    border: 5px solid rgb(73, 140, 193);
}

.auth_link form label.text {
    margin-top: 10px;
}

#register{
    width: 23em;
}


@keyframes rotate{
    /* создаем анимацию и даем ей имя (rotate например) */
    /* дальше задаем положение в начале и в конце */
    from {transform:  rotate(0deg);}
    to {transform: rotate(360deg);}
}

form button[type=submit] + button i, .resp + button i{
    display: inline-block;
    animation: rotate linear 0.5s infinite;
}

.auth_acc, .lobby_set{
    position: relative;
    /*min-height: 325px;*/
    border: 1px gainsboro;
    border-style: solid dashed;
}

.auth_acc form {
    box-sizing: border-box;
    overflow: hidden;
    /*display: block;*/
    padding: 15px 20px;
}

.lobby_set form.create_lobby, .lobby_set form.select_lobby{
    overflow: hidden;
    /*display: block;*/
}

.lobby_set form.create_lobby{
    /*margin: 20px auto;*/
    padding: 20px 15px;
}

.lobby_set form.select_lobby{
    padding: 0;
}

.auth_acc > div, .lobby_set > div{
    background: url("images/button.png") repeat-x 50% 50%;
    padding: 10px;
    font-size: 1em;
    font-family: Segoe UI, Verdana, Helvetica, Arial, sans-serif;
    border: solid gainsboro;
    border-width: 0 0 1px 0;
    font-weight: lighter;
    cursor: pointer;
    transition: font-size .3s ease;
}

.auth_acc > div:nth-child(5), .lobby_set > div:nth-child(5){border-width: 0;}

.auth_acc + form{
    /*display: none;*/
}

form.login>label{
    margin-top: 20px;
}

.auth_acc > div.active, .lobby_set > div.active{
    border: 0 solid gainsboro;
    border-bottom-width: 1px;
    font-size: 1.3em;
    transition: font-size .3s ease;
}

.auth_acc > div:before, .lobby_set > div:before{
    display: inline-flex;
    position: relative;
    content: '\f101';
    font-family: FontAwesome, icomoon, serif;
    transform: rotate(0deg);
    transition: transform .3s ease-in-out;
    margin: 0 10px;
}

.auth_acc > div.active:before, .lobby_set > div.active:before{
    transform: rotate( 90deg );
    color: #787878;
}

.user_bar:hover > div:after{
    transform: rotate( 90deg );
}


.fill{ /* элемент для переноса в многострочном flex контейнере */
    width: 100%;
    margin: 0;
}

.game{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-size: 17px;
    width: 32em;
    color: lightcyan;
    background-color: darkslategrey;
    font-family: 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.game, .WarLog, .UserList{
    box-shadow: 10px 10px 10px 1px rgba(47, 79, 79, 0.67);
}


.game div{
    font-size: 1.2em;
}

.game div, .game input{
    outline: none;
}

.game .body{
    position: relative;
    font-size: inherit;
    width: 100%;
}

div.top_user_form{
    padding: 5px 0;
    height: 30px;
    width: 100%;
    text-align: center;
    /*font-size: 1.1em;*/
}

.top_user_form a.auth_link{
    text-decoration: none;
    padding: 9px 25px;
}

.top_user_form a.auth_link span{
    text-decoration: underline;
}

.top_user_form a.auth_link span:hover{
    text-decoration: none;
}

.top_user_form a.auth_link:before{
    font-family: icomoon, serif;
    content: '\e660';
    vertical-align: middle;
    margin-right: 5px;
}

.game .user{
    position: relative;
    font-size: inherit;
}

.game .logout{
    border: 0;
    background: none;
    outline: none;
    color: inherit;
    font-size: inherit;
    padding: 5px 20px;
    text-decoration: underline;
}

.game button.logout:not(.loader){
    cursor: pointer;
}

.lobby_form button:hover, .l_select:hover, .top_user_form a.auth_link:hover,
.game .logout:hover{
    background-color: lightblue;
    color: darkslategray;
}

.game .exit{
    border: 0;
    background: none;
    cursor: pointer;
    outline: none;
    color: inherit;
    font-size: inherit;
    padding: 5px 20px;
    text-decoration: underline;
}

.top_user_form .logout{
    vertical-align: bottom;

}
.game .logout.loader{
    text-decoration: none;
    position: relative;
}

.logout.loader:hover{
    color: inherit;
    cursor: inherit;
    background-color: inherit;
}

.user>span{
    display: inline-block;
    margin-bottom: 4px;
    margin-left: 20px;
}

.loader span{
    font-size: .7em;
    position: absolute;
    top:9px;
    left: 20px;
}

.top_user_form a:hover, .logout:hover{
    text-decoration: none;
}

.top_user_form>span{
    padding: 5px 20px;
}

.lobby{
    text-align: center;
    /*padding: 7px;*/
    margin: 0 auto;
    width: 100%;
}

.lobby_form.disabled{
    cursor: auto;
}

.l_select{
    width: 50%;
    margin: 0 auto;
    padding: 5px;
    cursor: pointer;
}

.lobby span{
    font-size: .8em;
}

.countdown{
    position: absolute;
    transform: rotate(-90deg);
    font-size: 25px;
}

.countdown div{
    border: 7px solid crimson;
    outline: none;
    border-radius: 50%;
    padding: 100px;
}

.countdown {
    align-self: center;
}

.move{
    position: absolute;
    align-self: center;
    top: 45px;
}

.move span{
    font-size: .85em;
}

div.ContdwnInf {
    position: absolute;
    bottom: 10px;
    width: 109px;
    font-size: .8em;
    word-break: keep-all;
    text-align: center;
}

div.ContdwnInf span{
    color: darkslategray;
    background-color: lightblue;
    font-size: 1.1em;
    padding: 0 10px;
    font-weight: 600;
}

div.sel_w{
    font-size: 0.7em;
    text-align: center;
    padding: 5px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.weapon_case{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0 40px;
    position: relative;
}

.wp{
    z-index: 10;
    padding: 5px;
    width: 110px;
    height: 110px;
    border: 2px solid lightblue;
    outline: none;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    cursor: pointer;
    position: relative;
}

.wp i{
    font-size: 2.5em;
    color: lightcyan;
}


.wp:hover{
    background-color: lightblue;
}

.wp:hover i{
    color: darkslategrey;
}

.wp[disabled] {
    background: rgba(28, 44, 44, 0.42);
}

.wp[disabled] i{
    color: lightblue;
}

.wp[disabled]{
    cursor: default;
}

.wp i:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    margin: 0;
    transition: transform 0.2s, opacity 0.2s;
    transform: scale(.8);
    opacity: 0;
    top: -24px;
    left: -24px;
    padding: 22px;
    border: 2px dotted lightblue;
    border-radius: 50%;
    z-index: -10;
}

.wp:hover i:after{
    transform: scale(1);
    opacity: 1;
}

.lobby_form input{
    border-radius: 5px;
    font-size: inherit;
    color: darkslategrey;
}

.lobby_form button{
    color: darkslategrey;
}

.lobby_form .hint{
    font-size: 0.8em;
}

.lobby_form .response{
    font-size: .8em;
}

div.game_state{
    font-size: .9em;
    padding: 10px 20px;
    flex-wrap: wrap;
    background-color: rgba(28, 44, 44, 0.42);
    min-height: 9em;
    position: relative;
}

[data-show] .game_state,
[data-show] .lobby_form
{
    display: flex;
}

[data-show='ls_show']{
    height: 40px;
    padding: 7px;
}

[data-show='ls_hide']{
    height: 0;
    padding: 0;
}

[data-show='gs_show']{ /*game_state*/
    height: 185px;
}

[data-show='gs_hide']{ /*game_state*/
    height: 90px;
}

[data-show='gs_hide'] div div{
    visibility: hidden;
}

.w100{
    width: 100%;
}

.game_state .caption{
    width: 30%;
    text-align: right;
    flex: 1 1 auto;
    font-size: 1.1em;
}

.game_state .value{
    flex: 1 1 auto;
    width: 50%;
    text-align: left;
    margin-left: 15px;
    font-size: 1.1em;
    font-weight: 500;
}

.lobby_list{
    font-size: 1.1em;
    flex-wrap: wrap;
    overflow: auto;
    font-family: "Segoe UI", FontAwesome, icomoon, serif;
}

.LobbyItem{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 7px;
    font-size: 0.9em;
    width: 100%;
    box-sizing: border-box;
}

.LobbyItem .players{
    width: 100%;
    box-sizing: border-box;
}

.LobbyItem .name{
    width: 30%;
}
.LobbyItem .value{
    width: 70%;
}

.LobbyItem .name, .LobbyItem .value{
    display: inline-block;
    box-sizing: border-box;
    padding: 1px 10px;
}

.LobbyItem .player, .LobbyItem .state, .LobbyItem .timer, .LobbyItem .owner{
    display: inline-block;
}

.LobbyItem:nth-child(odd){
    background-color: lightgrey;
}

.LobbyItem:nth-child(even){
    background-color: white;
}

.LobbyItem .lobby.name{
    width: 100%;
    cursor: pointer;
    text-decoration: underline;
    padding: 10px 5px;
    font-weight: 600;
}
.LobbyItem .lobby.name:hover {
    background-color: lightslategrey;
    color: lightgrey;
}

.LobbyItem .value span{
    color: grey;
}

.LobbyItem .value div{
    color: crimson;
    font-weight: 500;
}

.LobbyItem .prompt{
    background-color: rgba( 41, 99, 164, 0.9 );
    color: #A6E7FD;
    padding: 5px 0 20px;
}

.LobbyItem .quest{
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(1,.2,.9,1.7);
}

.LobbyItem .quest.show {
    height: 150px;
    transition: height 0.2s cubic-bezier(1,.2,.9,1.7);
}

.LobbyItem .resp{
    color: dimgray;
    font-weight: 700;
    background-color: #A6E7FD;
}

.LobbyItem .prompt, .LobbyItem .prompt .header{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.LobbyItem .prompt .header{
    width: auto;
    padding: 10px;
    margin-bottom: 10px;
}

.LobbyItem .resp{
    display: inline-block;
    width: 35%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.LobbyItem .resp:nth-child(odd) {
    margin-left: 5px;
}

.LobbyItem .resp:nth-child(even) {
    margin-right: 5px;
}

.LobbyItem .name:hover{
    text-decoration: none;
}

.LobbyItem .timer{
    flex: none;
}
.LobbyItem .owner{
    flex: none;
}
.LobbyItem .state{
    flex: none;
}

.lobby_form form.lobbySelect{
    padding: 5px;
    margin-top: 10px;
}

.LobbyItem:hover .hint{
    background-color: rgba( 41, 99, 164, 0.9 );
    width: 300px;
    padding: 10px;
    top: 45%;
    color: #A6E7FD;
    border: solid #A6E7FD;
    visibility: visible;
    border-width: 1px 1px 1px 0;
    text-decoration: none;
    z-index: 10;
    left: 100%;
    word-break: keep-all; /* перенесем длинные слова на след. строки */
}

.LobbyItem .name_hint {
    width: 30%;
    padding: 3px 0;
    display: inline-block;
}
.LobbyItem .value_hint {
    display: inline-block;
}

.caption{
    align-items: center;
    color: lightcyan;
    font-size: 0.8em;
    font-weight: 100;
}

.lobby_list .caption{
    display: flex;
    background-color: darkslategray;

}

.caption div{
    text-align: center;
    padding: 0 0 5px;
}
.caption div:nth-child(1){
    width: 37%;
}
.caption div:nth-child(2){
    width: 18%;
}
.caption div:nth-child(3){
    width: 45%;
}

.lobby_form .lobby_set label.text input{
    padding: 5px 15px;
    font-size: 1.2em;
    text-align: left;
    font-family: "Segoe UI", FontAwesome, icomoon, serif;!important;
}

.lobby_form .lobby_set label.text input.time{
    text-align: center;
}

.lobby_form .lobby_set label.name{
    width: 65%;
}

.lobby_form .lobby_set label.time{
    width: 30%;
}
.lobby_input{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.game .moveHint, .game .run{
    text-align: center;
    outline: 1px solid lightblue;
    margin: 10px auto;
    padding: 5px;
    cursor: pointer;
}

.game .run{
    width: 35%;
    word-break: keep-all;
}

.game .run span{
    font-size: .85em;
}

.game .moveHint{
    padding: 5px 35px;
}

.game .moveHint span{
    font-size: .8em;
}

.game .score{
    padding: 10px 20px;
    top: -40px;
    flex-wrap: wrap;
    font-size: 1.53em;
    margin-top: 15px;
}

.game .name{
    width: 100%;
    text-align: center;
    font-size: 1em;
}

.game .name .player{
    width: 100px;
    display: inline-block;
}

.game .name .player:nth-child(1){
    text-align: right;
    padding-right: 15px;
}

.game .name .player:nth-child(3){
    text-align: left;
    padding-left: 15px;
}

.game .digit{
    border: dashed 1px lightblue;
    border-radius: 5px;
    margin: 10px auto 0;
    padding: 0 20px 3px;
    width: 10%;
    display: flex;
    justify-content: center;
}

.game .colon{
    margin: 0 5px;
}

.game .vs, .game .rounds span:nth-child(1){
    color: darkslategray;
    background-color: lightblue;
    padding: 0 5px;
}

.game .rounds span:nth-child(1){
    padding: 3px 15px;
    margin: 0 10px;
}

.game .rounds .dig{
    font-weight: 700;
}

.WarLog{
    overflow: visible;
}

.WarLog .header{
    position: relative;
    overflow: visible;
}

.WarLog:hover .purgeLog{
    display: inline-block;
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(41, 41, 41, 0.19);
    height: 100%;
    box-sizing: border-box;
    line-height: 2.65em;
    cursor: pointer;
}

.WarLog span.hint{
    top: -31px;
    left: -20px;
    position: absolute;
    background-color: rgba( 41, 99, 164, 0.9 );
    color: #A6E7FD;
    border: 1px solid darkslategray;
    font-weight: normal;
    font-size: .8em;
    padding: 5px 10px;
    visibility: hidden;
}

.WarLog .purgeLog:hover+.hint{
    visibility: visible;
}

.game .RunInf{
    font-size: 1em;
    padding: 10px;
}

.game .moveHint:hover, .game .run:hover{
    background-color: lightblue;
    color: darkslategrey;
}

.game .rounds{
    margin: 10px auto;
    text-align: center;
}

.run[disabled], .moveHint[disabled] {
    background: rgba(128, 128, 128, 0.5);
    cursor: default;
}

.run[disabled] i{
    color: lightblue;
}

.run[disabled]{
}

.hintWp i{
    color: crimson;
}

.game .header{
    font-size: inherit;
    background-color: rgba(28, 44, 44, 0.42);
    padding: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    /*min-height: 4em;*/
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.btnCase{
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 100%;
    display: flex;
}

.btnCase:hover .btn1, .btnCase:hover .btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnCase.bc1{
    left: -30px;
    top: 0;
}
.btnCase.bc2{
    right: -30px;
    top: 0;
}

.btn1, .btn2{
    background-color: rgba(74, 91, 99, 0.5);
    color: darkslategray;
    width: 100%;
}

.btn1 i, .btn2 i{
    font-size: 1.2em;
}

.WarLog, .UserList{
    position: absolute;
    width: 360px;
    box-sizing: border-box;
    border: solid 1px darkslategray;
}

.WarLog{
    left: 574px;
}

.UserList{
    left: -390px;
}

.WarLog .log, .UserList .log{
    min-height: 6em;
}

.game .WarLog, .game .UserList{
    font-size: .9em;
}

.WarLog .header, .UserList .header{
    width: auto;
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1em;
    color: darkslategray;
    background-color: lightblue;
    font-weight: 700;
    min-height: 1em;
}

.WarLog .log, .UserList .log{
    padding: 10px;
    background-color: darkslategray;
    color: lightblue;
    font-size: .9em;
}

.WarLog .WarLogItem{
    font-size: .9em;
    border: dotted lightblue;
    border-width: 0 0 1px 0;
}

.WarLogItem .time, .WarLogItem .item{
    display: inline-block;
}

.WarLogItem .time{
    padding: 0 5px;
    margin-right: 10px;
    color: darkslategray;
    background-color: lightblue;
}

.WarLogItem .item{
    padding: 0 5px;
}

.WarLog .WarLogItem{
    word-break: initial;
}

.WarLog .event span{
    color: peru;
}

.UserList .log div{
    color: lightblue;
    padding: 5px 10px;
}

.UserList .log div:nth-child(odd){
    background-color: darkslategray;
}

.UserList .log div:nth-child(even){
    background-color: rgba(28, 44, 44, 0.42);
}

div.ver{
    color: #7d9999;
    font-size: .9em;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}

div [data-outline='1']{
    outline: 1px dotted crimson;
    display: none;
}
div [data-hidden='true']{
    /*outline: 1px dotted crimson;*/
    display: none;
}

/*[data-show='true']{*/
    /*height: 205px;*/
/*}*/
